{% if 'data0' in grains['ip4_interfaces'] and grains['ip4_interfaces']['data0'] -%}
{%- set data_if = ['data0'] -%}
{% else %}
{%- set data_if = pillar['cluster'][grains['id']]['network']['data']['private_interfaces'] -%}
{% endif %}
{%- set data_ip = grains['ip4_interfaces'][data_if[0]] -%}
{% set server_nodes = [ ] -%}
{% for node in pillar['cluster'].keys() -%}
{% if "srvnode-" in node -%}
{% do server_nodes.append(node)-%}
{% endif -%}
{% endfor -%}
{
     "advertise_addr": "{{ data_ip[0] }}",
     "bind_addr": "{{ data_ip[0] }}",
     "bootstrap_expect": {{ server_nodes|length }},
     "client_addr": "127.0.0.1 {{ data_ip[0] }}",
     "datacenter": "DC1",
     "node_name": "{{ grains['id'] }}",
     "data_dir": "/var/lib/consul",
     "domain": "consul",
     "enable_local_script_checks": true,
     "dns_config": {
     "enable_truncate": true,
     "only_passing": true
     },
     "enable_syslog": true,
     "leave_on_terminate": true,
     "log_level": "INFO",
     "rejoin_after_leave": true,
     "log_level": "INFO",
     "rejoin_after_leave": true,
     "retry_join": [
       {% for node in server_nodes -%}
          {% if not loop.last %}
          "{{ node }}",
          {% else %}
          "{{ node }}"
          {% endif %}
        {% endfor -%}
     ],
     "server": true,
     "start_join": [
       {% for node in server_nodes -%}
          {% if not loop.last %}
          "{{ node }}",
          {% else %}
          "{{ node }}"
          {% endif %}
        {% endfor -%}
     ]
}
