{%- set data_if = pillar['cluster'][grains['id']]['network']['data']['interface'][1] -%}
{%- set data_ip = grains['ip4_interfaces'][data_if][0] -%}
{%- set retry_list = [] -%}
{%- for node in (pillar['cluster']['node_list'] | difference(grains['id'])) -%}
{%- for srvnode, ip_data in salt['mine.get'](node, 'node_ip_addrs') | dictsort() %}
{%- do retry_list.append(ip_data[pillar['cluster'][srvnode]['network']['data']['interface'][1]][0]) %}
{%- endfor %}
{%- endfor %}
{
  "bind_addr": "{{ data_ip }}",
  "client_addr": "127.0.0.1 {{ data_ip }}",
  "data_dir": "/opt/consul/data",
  "log_level": "INFO",
  "bootstrap_expect": {{ pillar['cluster']['node_list']|length }},
  "server": true,
  "ui": true,
  "leave_on_terminate": true,
  {%- if "single" not in pillar["cluster"]["type"] %}
  "retry_join": {{ retry_list | replace("'", '"') }},
  {%- endif %}
  "rejoin_after_leave": true
}

