[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
user=consul
group=consul
ExecStart=/usr/bin/consul agent -node {{ grains['id'] }} -node-id {{ grains['node_id'] }} -config-dir=/etc/consul.d/
ExecStartPost=/bin/sleep 5 
ExecReload=/usr/bin/consul reload
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
