{
  "datacenter": "LDR1",
  "data_dir": "/opt/consul/data",
  "log_level": "INFO",
  "node_name": "{{ grains['host'] }}",
  "advertise_addr": "{{ grains['ipv4'][0] }}",
  "bind_addr": "0.0.0.0",
  "domain": "0.0.0.0",
  "bootstrap_expect": 1,
  "server": true,
  "dns_config": {
    "allow_stale": true,
    "max_stale": "15s"
  },
  "retry_interval": "10s",
  "retry_max": 100,
  "ports": {
    "http": 8500
  },
  "ui": true,
  "skip_leave_on_interrupt": true,
  "leave_on_terminate": false,
  "rejoin_after_leave": true,
  "addresses": {
    "http": "0.0.0.0",
    "dns": "0.0.0.0"
  }
}


