Vagrant.configure('2') do |config|
  config.vm.box = '{box_name}'
  config.vm.box_check_update = false
  config.vm.define '{vm_name}'
  config.vm.hostname = '{hostname}'
  config.vm.provider :virtualbox do |vb, override|
    vb.name = '{vm_name}'
  end
end
