Vagrant.configure('2') do |config|
  config.vm.box = '{box_name}'
  config.vm.box_check_update = false
  config.vm.define '{vm_name}'
  config.vm.hostname = '{hostname}'
  config.vm.provider :virtualbox do |vb, override|
    vb.name = '{vm_name}'

    # Disk configuration details: For Virtualbox provider only
    disks_dir = '{vm_dir}/vdisks'
    disks = [{mgmt_disk_size}, {data_disk_size}]    # in MB

    # TODO Virtual h/w specs
    vb.memory = {memory}  # in MB
    vb.cpus = {cpus}

    (1..disks.count).each do |disk_number|
      disk_file = "#{{disks_dir}}/disk#{{disk_number}}.vdi"

      # Create a hard disk image
      vb.customize ['createmedium',
        'disk',
        '--filename', disk_file,
        '--size', disks[disk_number - 1],
        '--format', 'VDI',
        '--variant', 'Standard'
      ]

      # Attach hard disk
      vb.customize [
        'storageattach',
        :id,
        '--storagectl', "srvnode_vdisk",
        '--port', disk_number - 1,
        '--device', 0,
        '--type', 'hdd',
        '--medium', disk_file,
        '--mtype', 'normal'
      ]
    end       # Disk creation loop
  end

end
