{% if 'data0' in grains['ip4_interfaces'] and grains['ip4_interfaces']['data0'] %}
  {%- set data_if = 'data0' -%}
{% else %}
  {%- set data_if = pillar['cluster'][grains['id']]['network']['data_nw']['iface'][1] -%}
{%- endif -%}
nodes:
{% for node in pillar['cluster']['node_list'] %}
  - hostname: {{ pillar['cluster'][node]['hostname'] }}
    data_iface: {{ data_if }}
{% if salt['cmd.run']('lspci -d"15b3:1017:0200"') %}
    data_iface_type: o2ib
{% else %}
    data_iface_type: tcp
{% endif %}
    m0_servers:
      - runs_confd: true
      - io_disks:
          # XXX Hare should support lists of disks, not only globs
          path_glob: "{{ pillar['cluster'][node]['storage']['data_devices'][0] }}"
    m0_clients:
      s3: {{ pillar['s3server']['no_of_inst'] }}
{% if "physical" in grains['virtual'] %}
      other: 2
{% else %}
      other: 1
{% endif %}  
{% endfor %}
pools:
  - name: the pool
    disks: all
    data_units: 1
    parity_units: 0
