{% if 'eth0' in grains['ip4_interfaces'] and grains['ip4_interfaces']['eth0'] %}
  {%- set mgmt_if = 'eth0' -%}
{% else %}
  {%- set mgmt_if = pillar['cluster'][grains['id']]['network']['mgmt_nw']['iface'][0] -%}
{%- endif -%}
interface: {{ mgmt_if }}
vip: {{ pillar['cluster']['mgmt_vip'] }}
left-node: srvnode-1
right-node: srvnode-2
