{% if 'eth0' in grains['ip4_interfaces'] and grains['ip4_interfaces']['eth0'] %}
  {%- set mgmt_if = 'eth0' -%}
{% else %}
  {%- set mgmt_if = pillar['cluster'][grains['id']]['network']['mgmt']['interfaces'][0] -%}
{%- endif -%}
interface: {{ mgmt_if }}
vip: {{ pillar['cluster']['mgmt_vip'] }}
{% set cidr = salt['cmd.shell']("ip addr show {0}| grep -m 1 'inet' | awk '{{print $2}}' | cut -d '/' -f2".format(mgmt_if)) -%}
cidr: {{ cidr }}
left-node: srvnode-1
right-node: srvnode-2