*.vagrant
*.git
*.vdisks
*.bak
*.log
*__pycache__*
*.pyc
*.swp
*packer_cache*
*.vdi
*.box
*.ova
.build
build
.boxes
.provisioner
.eggs
*.egg-info
.coverage
tmp
venv/
api/python/provisioner/srv/salt-vendor/*
!api/python/provisioner/srv/salt-vendor/README.md
devops/jenkins/credentials
