*.vagrant
*.git
*.vdisks
*.bak
*.log
*__pycache__*
.pytest_cache
*.pyc
*.swp
*.iso
*.rpm
*packer_cache*
*.vdi
*.box
*.ova
.build
build
_build
.boxes
.provisioner
.eggs
*.egg-info
.coverage
./tmp*
venv/
