---

extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  comments: disable
  comments-indentation: disable
  document-start: disable
  line-length: disable
  truthy: disable
