{%- set cluster_id = grains['cluster_id'] %}
support>user=>{{ pillar['system']['service-user']['name'] }}
support>password=>{{ pillar['system']['service-user']['password'] }}
cortx>software>csm>user=>{{ pillar['cortx']['software']['csm']['user'] }}
cortx>software>csm>secret=>{{ pillar['cortx']['software']['csm']['secret'] }}
cortx>software>openldap>root>user=>{{ pillar['cortx']['software']['openldap']['root']['user'] }}
cortx>software>openldap>root>secret=>{{ pillar['cortx']['software']['openldap']['root']['secret'] }}
cortx>software>openldap>sgiam>user=>{{ pillar['cortx']['software']['openldap']['sgiam']['user'] }}
cortx>software>openldap>sgiam>secret=>{{ pillar['cortx']['software']['openldap']['sgiam']['secret'] }}
cortx>software>corosync>user=>{{ pillar['cortx']['software']['corosync-pacemaker']['user'] }}
cortx>software>corosync>secret=>{{ pillar['cortx']['software']['corosync-pacemaker']['secret'] }}
cortx>software>common>message_bus_type=>kafka
{%- for _,node in pillar['cluster']['server_nodes'].items() %}
cortx>software>kafka>servers[{{ loop.index - 1 }}]=>{{ pillar['cluster'][node]['hostname'] }}:9200
{%- endfor %}
cortx>release>setup=>{{ pillar['cortx']['release']['setup'] }}
cortx>release>product=>{{ pillar['cortx']['release']['product'] }}
cluster>{{ cluster_id }}>name=>{{ pillar['corosync-pacemaker']['cluster_name'] }}
cluster>{{ cluster_id }}>site_count=>1
cluster>{{ cluster_id }}>site>storage_set_count=>{{ pillar['cluster']['storage_sets'].keys() | length }}
cluster>{{ cluster_id }}>network>management>virtual_host=>{{ pillar['cluster']['mgmt_vip'] }}
cluster>{{ cluster_id }}>network>search_domains=>{{ pillar['cluster']['search_domains'] }}
cluster>{{ cluster_id }}>network>dns_servers=>{{ pillar['cluster']['dns_servers'] }}
{%- for storage_set in pillar['cluster']['storage_sets'].keys() %}
{%- set outer_loop = loop %}
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>name=>{{ storage_set }}
{%- for node in pillar['cluster']['storage_sets'][storage_set] %}
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>server_nodes[{{ loop.index - 1 }}]=>{{ pillar['cluster'][node]['machine_id'] }}
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>storage_enclosures[{{ loop.index - 1 }}]=>{{ pillar['storage'][pillar['cluster'][node]['storage']['enclosure']]['enclosure_id'] }}
{%- endfor %}
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>durability>data=>4
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>durability>parity=>2
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>durability>spare=>0
{%- endfor %}
{%- for machine_id, node in pillar['cluster']['server_nodes'].items() %}
server_node>{{ machine_id }}>name=>{{ node }}
server_node>{{ machine_id }}>hostname=>{{ pillar['cluster'][node]['hostname'] }}
{%- for role in pillar['cluster'][node]['roles'] %}
server_node>{{ machine_id }}>roles[{{ loop.index - 1 }}]=>{{ role }}
{%- endfor %}
server_node>{{ machine_id }}>type=>{{ pillar['cluster'][node]['node_type'] }}
server_node>{{ machine_id }}>bmc>ip=>{{ salt["pillar.get"]('cluster:{0}:bmc:ip'.format(node), '') }}
server_node>{{ machine_id }}>bmc>user=>{{ salt["pillar.get"]('cluster:{0}:bmc:user'.format(node), '') }}
server_node>{{ machine_id }}>bmc>secret=>{{ salt["pillar.get"]('cluster:{0}:bmc:secret'.format(node), '') }}
{%- for iface in pillar['cluster'][node]['network']['mgmt']['interfaces'] %}
server_node>{{ machine_id }}>network>management>interfaces[{{ loop.index - 1 }}]=>{{ iface }}
{%- endfor %}
server_node>{{ machine_id }}>network>management>gateway=>{{ salt["pillar.get"]('cluster:{0}:network:mgmt:gateway'.format(node), grains['ip4_gw']) }}
server_node>{{ machine_id }}>network>management>netmask=>{{ pillar['cluster'][node]['network']['mgmt']['netmask'] }}
server_node>{{ machine_id }}>network>management>public_fqdn=>{{ pillar['cluster'][node]['network']['mgmt']['public_fqdn'] }}
{%- for iface in pillar['cluster'][node]['network']['data']['public_interfaces'] %}
server_node>{{ machine_id }}>network>data>public_interfaces[{{ loop.index - 1 }}]=>{{ iface }}
{%- endfor %}
{%- for iface in pillar['cluster'][node]['network']['data']['private_interfaces'] %}
server_node>{{ machine_id }}>network>data>private_interfaces[{{ loop.index - 1 }}]=>{{ iface }}
{%- endfor %}
server_node>{{ machine_id }}>network>data>gateway=>{{ pillar['cluster'][node]['network']['data']['gateway'] }}
server_node>{{ machine_id }}>network>data>netmask=>{{ pillar['cluster'][node]['network']['data']['netmask'] }}
server_node>{{ machine_id }}>network>data>public_fqdn=>{{ pillar['cluster'][node]['network']['data']['public_fqdn'] }}
server_node>{{ machine_id }}>network>data>private_fqdn=>{{ pillar['cluster'][node]['network']['data']['private_fqdn'] }}
server_node>{{ machine_id }}>network>data>roaming_ip=>{{ pillar['cluster'][node]['network']['data']['roaming_ip'] }}
server_node>{{ machine_id }}>network>data>interface_type=>{{ pillar['cluster'][node]['network']['data']['interface_type'] }}
server_node>{{ machine_id }}>network>data>transport_type=>{{ pillar['cluster'][node]['network']['data']['transport_type'] }}
server_node>{{ machine_id }}>storage>cvg_count=>{{ pillar['cluster'][node]['storage']['cvg'] | length }}
{%- for i in range(pillar['cluster'][node]['storage']['cvg'] | length) %}
{%- set outer_loop = loop %}
{%- set metadata_devices = pillar['cluster'][node]['storage']['cvg'][outer_loop.index - 1]['metadata_devices'] %}
{%- for device in metadata_devices %}
server_node>{{ machine_id }}>storage>cvg[{{ outer_loop.index - 1 }}]>metadata_devices[{{ loop.index - 1 }}]=>{{ device }}
{%- endfor %}
{%- set data_devices = pillar['cluster'][node]['storage']['cvg'][outer_loop.index - 1]['data_devices'] %}
{%- for device in data_devices %}
server_node>{{ machine_id }}>storage>cvg[{{ outer_loop.index - 1 }}]>data_devices[{{ loop.index - 1 }}]=>{{ device }}
{%- endfor %}
{%- endfor %}
server_node>{{ machine_id }}>storage>enclosure_id=>encl{{ machine_id }}
server_node>{{ machine_id }}>site_id=>{{ pillar['cluster'][node]['site_id'] }}
server_node>{{ machine_id }}>rack_id=>{{ pillar['cluster'][node]['rack_id'] }}
server_node>{{ machine_id }}>node_id=>{{ pillar['cluster'][node]['node_id'] }}
server_node>{{ machine_id }}>storage_set_id=>{{ pillar['cluster'][node]['storage_set_id'] }}
server_node>{{ machine_id }}>cluster_id=>{{ cluster_id }}
server_node>{{ machine_id }}>s3_instances=>{{ pillar['cluster'][node]['s3_instances'] }}
{%- endfor %}
{%- for enclosure in pillar['storage'].keys() %}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>name=>{{ enclosure }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>type=>{{ pillar['storage'][enclosure]['type'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>cluster_id=>{{ grains['cluster_id'] }}
{%- for _,node in pillar['cluster']['server_nodes'].items() %}
{%- if pillar['cluster'][node]['storage']['enclosure'] == enclosure %}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>site_id=>{{ pillar['cluster'][node]['site_id'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>storage_set_id=>{{ pillar['cluster'][node]['storage_set_id'] }}
{%- endif %}
{%- endfor %}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>controller>type=>{{ pillar['storage'][enclosure]['controller']['type'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>controller>user=>{{ pillar['storage'][enclosure]['controller']['user'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>controller>password=>{{ pillar['storage'][enclosure]['controller']['secret'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>controller>primary>ip=>{{ pillar['storage'][enclosure]['controller']['primary']['ip'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>controller>primary>port=>{{ pillar['storage'][enclosure]['controller']['primary']['port'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>controller>secondary>ip=>{{ pillar['storage'][enclosure]['controller']['secondary']['ip'] }}
storage_enclosure>{{ pillar['storage'][enclosure]['enclosure_id'] }}>controller>secondary>port=>{{ pillar['storage'][enclosure]['controller']['secondary']['port'] }}
{%- endfor %}
