{%- set cluster_id = pillar['cluster']['cluster_id'] %}
support>user:{{ pillar['system']['service-user']['name'] }}
support>secret:{{ pillar['system']['service-user']['secret'] }}
cortx>software>csm>user:
cortx>software>csm>secret:
cortx>software>openldap>root>user:{{ pillar['openldap']['root']['user'] }}
cortx>software>openldap>root>secret:{{ pillar['openldap']['root']['secret'] }}
cortx>software>openldap>sgiam>user:{{ pillar['openldap']['sgiam']['user'] }}
cortx>software>openldap>sgiam>secret:{{ pillar['openldap']['sgiam']['secret'] }}
cortx>software>corosync>user:{{ pillar['corosync-pacemaker']['user'] }}
cortx>software>corosync>secret:{{ pillar['corosync-pacemaker']['secret'] }}
cortx>release>setup:{{ pillar['release']['setup'] }}
cortx>release>product:{{ pillar['release']['product'] }}
cluster>{{ cluster_id }}>name:{{ pillar['corosync-pacemaker']['cluster_name'] }}
cluster>{{ cluster_id }}>site_count:1
cluster>{{ cluster_id }}>site>storage_node_count:3
cluster>{{ cluster_id }}>storage_set>server_node_count:3
cluster>{{ cluster_id }}>storage_set>storage_enclosure_count:3
cluster>{{ cluster_id }}>network>management>virtual_host:{{ pillar['cluster']['mgmt_vip'] }}
cluster>{{ cluster_id }}>network>search_domains:{{ pillar['cluster']['search_domains'] }}
cluster>{{ cluster_id }}>network>dns_servers:{{ pillar['cluster']['dns_servers'] }}
{%- for storage_set in pillar['cluster']['storage_sets'].keys() %}
{%- set outer_loop = loop %}
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>name:{{ storage_set }}
{%- for node in pillar['cluster']['storage_sets'][storage_set] %}
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>server_nodes[{{ loop.index - 1 }}]:{{ node }}
{%- endfor %}
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>data:4
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>parity:2
cluster>{{ cluster_id }}>storage_set[{{ outer_loop.index - 1 }}]>spare:0
{%- endfor %}
{%- for machine_id, node in pillar['cluster']['server_nodes'].items() %}
server_node>{{ machine_id }}>name:{{ node }}
server_node>{{ machine_id }}>hostname:{{ pillar['cluster'][node]['hostname'] }}
{%- for role in pillar['cluster'][node]['roles'] %}
server_node>{{ machine_id }}>roles[{{ loop.index - 1 }}]:{{ role }}
{%- endfor %}
server_node>{{ machine_id }}>type:{{ pillar['cluster'][node]['node_type'] }}
server_node>{{ machine_id }}>bmc>ip:{{ pillar['cluster'][node]['bmc']['ip'] }}
server_node>{{ machine_id }}>bmc>user:{{ pillar['cluster'][node]['bmc']['user'] }}
server_node>{{ machine_id }}>bmc>secret:{{ pillar['cluster'][node]['bmc']['secret'] }}
{%- for iface in pillar['cluster'][node]['network']['mgmt']['interfaces'] %}
server_node>{{ machine_id }}>network>management>interfaces[{{ loop.index - 1 }}]:{{ iface }}
{%- endfor %}
server_node>{{ machine_id }}>network>management>gateway:{{ pillar['cluster'][node]['network']['mgmt']['gateway'] }}
server_node>{{ machine_id }}>network>management>netmask:{{ pillar['cluster'][node]['network']['mgmt']['netmask'] }}
server_node>{{ machine_id }}>network>management>public_fqdn:{{ pillar['cluster'][node]['network']['mgmt']['public_fqdn'] }}
{%- for iface in pillar['cluster'][node]['network']['data']['public_interfaces'] %}
server_node>{{ machine_id }}>network>data>public_interfaces[{{ loop.index - 1 }}]:{{ iface }}
{%- endfor %}
{%- for iface in pillar['cluster'][node]['network']['data']['private_interfaces'] %}
server_node>{{ machine_id }}>network>data>private_interfaces[{{ loop.index - 1 }}]:{{ iface }}
{%- endfor %}
server_node>{{ machine_id }}>network>data>gateway:{{ pillar['cluster'][node]['network']['data']['gateway'] }}
server_node>{{ machine_id }}>network>data>netmask:{{ pillar['cluster'][node]['network']['data']['netmask'] }}
server_node>{{ machine_id }}>network>data>public_fqdn:{{ pillar['cluster'][node]['network']['data']['public_fqdn'] }}
server_node>{{ machine_id }}>network>data>private_fqdn:{{ pillar['cluster'][node]['network']['data']['private_fqdn'] }}
server_node>{{ machine_id }}>network>data>roaming_ip:{{ pillar['cluster'][node]['network']['data']['roaming_ip'] }}
server_node>{{ machine_id }}>network>data>interface_type:{{ pillar['cluster'][node]['network']['data']['interface_type'] }}
server_node>{{ machine_id }}>network>data>transport_type:{{ pillar['cluster'][node]['network']['data']['transport_type'] }}
server_node>{{ machine_id }}>storage>enclosure_id:{{ pillar['cluster'][node]['storage']['enclosure_id'] }}
server_node>{{ machine_id }}>site_id:{{ pillar['cluster'][node]['site_id'] }}
server_node>{{ machine_id }}>rack_id:{{ pillar['cluster'][node]['rack_id'] }}
server_node>{{ machine_id }}>node_id:{{ pillar['cluster'][node]['node_id'] }}
server_node>{{ machine_id }}>storage_set_id:{{ pillar['cluster'][node]['storage_set_id'] }}
server_node>{{ machine_id }}>cluster_id:{{ cluster_id }}
server_node>{{ machine_id }}>s3_instances:{{ pillar['cluster'][node]['s3_instances'] }}
{%- endfor %}
