{% for nodevalue in pillar['cluster'].keys() -%}
{% if "srvnode-" in nodevalue -%}

{% set hostname = pillar['cluster'][nodevalue]['hostname'] %}
Host {{ hostname }}
    HostName {{ hostname }}
    Port 22
    User root
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    IdentityFile /root/.ssh/id_rsa_prvsnr
    IdentitiesOnly yes
    LogLevel ERROR
    BatchMode yes

Host {{ nodevalue }} {{ nodevalue }}.data.private
    HostName {{ nodevalue }}.data.private
    Port 22
    User root
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    IdentityFile /root/.ssh/id_rsa_prvsnr
    IdentitiesOnly yes
    LogLevel ERROR
    BatchMode yes

{% endif -%}
{% endfor %}
