cluster:
  name: cortx-cluster
  id: 3e765bbb-8425-4e7f-8ee3-487e65ff2c8c
  node_types:
    - name: storage_node
      components:
      - name: utils
      - name: motr
        services:
        - io
      - name: hare
      - name: s3
        services:
        - io
        - auth
        - bg_consumer
      storage:
        - name: cvg-01
          type: ios
          devices:
            metadata:
            - /dev/sdb
            data:
            - /dev/sdc
            - /dev/sdd
        - name: cvg-02
          type: ios
          devices:
            metadata:
            - /dev/sde
            data:
            - /dev/sdf
            - /dev/sdg
    - name: control_node
      components:
      - name: utils
      - name: motr
        services:
        - fsm
      - name: s3
        services:
        - bg_producer
        - openldap
      - name: csm
        services:
        - agent
  storage_sets:
    - name: storage-set-1
      durability:
        sns: 8+7+0
        dix: 1+7+0
      nodes:
        - name: control-node
          id: 285d6133-3645-46b7-96a7-56917cd3cb43
          hostname: control-node
          type: control_node
        - name: storage-node1
          id: 0d213319-dbc5-463f-af39-c21d2501ea3e
          hostname: storage-node1
          type: storage_node
        - name: storage-node2
          id: ew733872-des4-283h-af39-c21d2501ea3e
          hostname: storage-node2
          type: storage_node
        - name: storage-node3
          id: af733872-des4-283h-af39-c21d2501ea3e
          hostname: storage-node3
          type: storage_node
