cortx:
  external:
    kafka:
      endpoints:
        - kafka-server1.cortx-cluster.com
        - kafka-server2.cortx-cluster.com
      user: admin
      secret: kafka-secret
    openldap:
      endpoints:
        - oldap-server1.cortx-cluster.com
      servers:
        - oldap-server1.cortx-cluster.com
        - oldap-server2.cortx-cluster.com
        - oldap-server3.cortx-cluster.com
      admin: admin
      secret: openldap-secret
      base_dn: dc=seagate,dc=com
    consul:
      endpoints:
        - consul-server1.cortx-cluster.com
      admin: admin
      secret: consul-secret
  common:
    product_release: LC
    environment_type: K8
    service:
      admin: admin
      secret: common-secret
    storage:
      shared: /share/var/data/cortx
      log: /share/var/log/cortx
      misc: /var/data/cortx
      config: /etc/cortx
  utils:
    message_bus_backend: kafka
  s3:
    iam:
      endpoints:
      - https://s3-iam.seagate.com:9443
    data:
      endpoints:
      - http://s3.seagate.com:80
      - https://s3.seagate.com:443
    internal:
      endpoints:
      - http://s3.seagate.com:28049
    service_instances: 11
    io_max_units: 32
  motr:
    client_instances: 2
    interface_type: tcp
    interface_family: inet
    transport_type: libfab
    ios:
      endpoints:
      - motr://motr-data1.cortx-cluster.com:3232
  hare:
    ports:
      endpoints:
      - tcp://hax.seagate.com:28000
  csm:
    auth_admin: admin
    auth_secret: auth-secret
    mgmt_admin: cortxadmin
    mgmt_secret: mgmt-secret
    email_address: cortx@seagate.com
    agent:
      endpoints:
      - https://csm.seagate.com:8081
