cortx:
  external:
    kafka:
      endpoints:
        - tcp://kafka.default.svc.cluster.local:9092
      admin: admin
      secret: kafka_admin_secret
    openldap:
      endpoints:
        - ldap://openldap-svc.default.svc.cluster.local:389
        - ssl://openldap-svc.default.svc.cluster.local:636
      servers:
        - openldap-svc.default.svc.cluster.local
      admin: admin
      secret: openldap_admin_secret
      base_dn: dc=seagate,dc=com
    consul:
      endpoints:
        - tcp://consul-server.default.svc.cluster.local:8301
        - http://consul-server.default.svc.cluster.local:8500
      admin: admin
      secret: consul_admin_secret
  common:
    release:
      name: CORTX
      version: 2.0.0-1111
    environment_type: K8
    setup_size: small
    service:
      admin: admin
      secret: common_admin_secret
    storage:
      shared: /share
      log: /share/var/log/cortx/
      local: /etc/cortx
      config: /etc/cortx
    security:
      ssl_certificate: /etc/cortx/solution/ssl/s3.seagate.com.pem
      domain_certificate: /etc/cortx/solution/ssl/stx.pem
      device_certificate: /etc/cortx/solution/ssl/stx.pem
  utils:
    message_bus_backend: kafka
  s3:
    iam:
      endpoints:
      - https://cortx-io-svc:9443
      - http://cortx-io-svc:9080
    data:
      endpoints:
      - http://cortx-io-svc:80
      - https://cortx-io-svc:443
    internal:
      endpoints:
      - http://cortx-io-svc:28049
    service_instances: 2
    io_max_units: 8
    max_start_timeout: 240
    auth_admin: sgiamadmin
    auth_secret: s3_auth_admin_secret
  motr:
    client_instances: 0
    interface_type: tcp
    interface_family: inet
    transport_type: libfab
    ios:
      endpoints:
      - motr://data1-node1.cortx-cluster.com:3232
  hare:
    hax:
      endpoints:
      - tcp://hax.seagate.com:28000
  csm:
    auth_admin: authadmin
    auth_secret: csm_auth_admin_secret
    mgmt_admin: cortxadmin
    mgmt_secret: csm_mgmt_admin_secret
    email_address: cortx@seagate.com
    agent:
      endpoints:
      - https://csm.seagate.com:8081
