Vagrant.configure("2") do |config|
  config.vm.define "source", autostart: false do |source|
	source.vm.box = "{{.BoxName}}"
    source.vm.provider :virtualbox do |vb, override|
      vb.memory = 3072
      vb.cpus = 2
    end
  end
  config.vm.define "output" do |output|
	output.vm.box_url = "file://package.box"
  end
end
