# -*- coding: utf-8 -*-
# # vim: ft=yaml
---

### ANCHORS
x-jenkins-linux-node: &jenkins_linux_node_anchor
  mode: NORMAL
  numExecutors: 1
  remoteFS: /var/lib/jenkins
  labelString: "cortx-prvsnr-ci"
  retentionStrategy: always
  launcher:
    jnlp:
      workDirSettings:
        disabled: false


## CREDENTIALS
credentials:
  system:
    domainCredentials:
    - credentials:
      - string:
          description: >-
            GitHub user token for status notifications
          id: "github-user-token"
          scope: GLOBAL
          secret: "${GITHUB_USER_TOKEN}"


# CONFIGURATION
jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"
  # numExecutors: 5
  # scmCheckoutRetryCount: 2
  mode: NORMAL

  authorizationStrategy:
    roleBased:
      roles:
        global:
        - assignments:
          - "admin"
          name: "admin"
          pattern: ".*"
          permissions:
          - "Job/Move"
          - "Job/Build"
          - "Lockable Resources/View"
          - "Credentials/Delete"
          - "Credentials/ManageDomains"
          - "Lockable Resources/Unlock"
          - "View/Create"
          - "Agent/Configure"
          - "Job/Read"
          - "Credentials/Update"
          - "Agent/Create"
          - "Job/Delete"
          - "Agent/Build"
          - "View/Configure"
          - "Lockable Resources/Reserve"
          - "Agent/Provision"
          - "SCM/Tag"
          - "Job/Create"
          - "Job/Discover"
          - "Credentials/View"
          - "Agent/Connect"
          - "Agent/Delete"
          - "Run/Replay"
          - "Agent/Disconnect"
          - "Run/Delete"
          - "Job/Cancel"
          - "Overall/Read"
          - "Run/Update"
          - "Credentials/Create"
          - "Overall/Administer"
          - "View/Delete"
          - "Job/Configure"
          - "Job Config History/DeleteEntry"
          - "Job/Workspace"
          - "View/Read"
        - assignments:
          name: "agent-provider"
          pattern: ".*"
          permissions:
          - "Overall/Read"
          - "Agent/Configure"
          - "Agent/Connect"
          - "Agent/Disconnect"
        - assignments:
          name: "developer"
          pattern: ".*"
          permissions:
          - "Job/Move"
          - "Job/Build"
          - "Credentials/Delete"
          - "Job/Create"
          - "Credentials/ManageDomains"
          - "View/Create"
          - "Job/Discover"
          - "Job/Read"
          - "Credentials/View"
          - "Credentials/Update"
          - "Run/Replay"
          - "Run/Delete"
          - "Job/Cancel"
          - "Overall/Read"
          - "Run/Update"
          - "Job/Delete"
          - "Credentials/Create"
          - "View/Delete"
          - "Job/Configure"
          - "Job/Workspace"
          - "View/Read"
          - "View/Configure"
        - assignments:
          - "anonymous"
          name: "reader"
          pattern: ".*"
          permissions:
          - "Overall/Read"
          - "Job/Discover"
          - "View/Read"

  markupFormatter:
    rawHtml:
      disableSyntaxHighlighting: false

  nodes:
    - permanent:
        name: agent1
        <<: *jenkins_linux_node_anchor
    - permanent:
        name: agent2
        <<: *jenkins_linux_node_anchor
    - permanent:
        name: agent3
        <<: *jenkins_linux_node_anchor

  securityRealm:
    local:
      allowsSignup: false
      enableCaptcha: false

unclassified:
  location:
    adminAddress: "${ADMIN_EMAIL_ADDRESS}"
    url: "${JENKINS_URL}"

  ansiColorBuildWrapper:
    globalColorMapName: "xterm"

  email-ext:
    defaultContentType: "text/html"
    mailAccount:
      smtpHost: "${SMTP_SERVER}"
      smtpPort: "465"
      useSsl: true
      smtpUsername: "${SMTP_USER}"
      smtpPassword: "${SMTP_PASSWORD}"

  mailer:
    smtpHost: "${SMTP_SERVER}"
    smtpPort: "465"
    useSsl: true
    authentication:
      username: "${SMTP_USER}"
      password: "${SMTP_PASSWORD}"

  timestamper:
    allPipelines: true

  ghprbTrigger:
    githubAuth:
    - description: "Anonymous connection"
      id: "github-user-token"
