# -*- coding: utf-8 -*-
# vim: ft=yaml

#
# Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.
#

---

### ANCHORS
x-jenkins-linux-node: &jenkins_linux_node_anchor
  mode: NORMAL
  numExecutors: 1
  remoteFS: /var/lib/jenkins
  labelString: "cortx-prvsnr-ci"
  retentionStrategy: always
  launcher:
    jnlp:
      workDirSettings:
        disabled: false


## CREDENTIALS
credentials:
  system:
    domainCredentials:
    - credentials:
      - string:
          description: >-
            GitHub user token for status notifications
          id: "github-user-token"
          scope: GLOBAL
          secret: "${GITHUB_USER_TOKEN}"
      - usernamePassword:
          description: >-
            A username and token pair of a GitHub user with write access
            to cortx-prvsnr repository
          id: "${GITHUB_USER_CREDENTIALS_ID}"
          scope: GLOBAL
          password: "${GITHUB_USER_TOKEN}"
          username: "${GITHUB_USER_NAME}"


# CONFIGURATION
jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"
  # numExecutors: 5
  # scmCheckoutRetryCount: 2
  mode: NORMAL

  authorizationStrategy:
    roleBased:
      roles:
        global:
        - assignments:
          - "admin"
          name: "admin"
          pattern: ".*"
          permissions:
          - "Job/Move"
          - "Job/Build"
          - "Lockable Resources/View"
          - "Credentials/Delete"
          - "Credentials/ManageDomains"
          - "Lockable Resources/Unlock"
          - "View/Create"
          - "Agent/Configure"
          - "Job/Read"
          - "Credentials/Update"
          - "Agent/Create"
          - "Job/Delete"
          - "Agent/Build"
          - "View/Configure"
          - "Lockable Resources/Reserve"
          - "Agent/Provision"
          - "SCM/Tag"
          - "Job/Create"
          - "Job/Discover"
          - "Credentials/View"
          - "Agent/Connect"
          - "Agent/Delete"
          - "Run/Replay"
          - "Agent/Disconnect"
          - "Run/Delete"
          - "Job/Cancel"
          - "Overall/Read"
          - "Run/Update"
          - "Credentials/Create"
          - "Overall/Administer"
          - "View/Delete"
          - "Job/Configure"
          - "Job Config History/DeleteEntry"
          - "Job/Workspace"
          - "View/Read"
        - assignments:
          name: "agent-provider"
          pattern: ".*"
          permissions:
          - "Overall/Read"
          - "Agent/Configure"
          - "Agent/Connect"
          - "Agent/Disconnect"
        - assignments:
          name: "developer"
          pattern: ".*"
          permissions:
          - "Job/Move"
          - "Job/Build"
          - "Credentials/Delete"
          - "Job/Create"
          - "Credentials/ManageDomains"
          - "View/Create"
          - "Job/Discover"
          - "Job/Read"
          - "Credentials/View"
          - "Credentials/Update"
          - "Run/Replay"
          - "Run/Delete"
          - "Job/Cancel"
          - "Overall/Read"
          - "Run/Update"
          - "Job/Delete"
          - "Credentials/Create"
          - "View/Delete"
          - "Job/Configure"
          - "Job/Workspace"
          - "View/Read"
          - "View/Configure"
        - assignments:
          - "anonymous"
          name: "reader"
          pattern: ".*"
          permissions:
          - "Overall/Read"
          - "Job/Discover"
          - "View/Read"

  markupFormatter:
    rawHtml:
      disableSyntaxHighlighting: false

  nodes:
    - permanent:
        name: agent1
        <<: *jenkins_linux_node_anchor
    - permanent:
        name: agent2
        <<: *jenkins_linux_node_anchor
    - permanent:
        name: agent3
        <<: *jenkins_linux_node_anchor

  securityRealm:
    local:
      allowsSignup: false
      enableCaptcha: false

unclassified:
  location:
    adminAddress: "${ADMIN_EMAIL_ADDRESS}"
    url: "${JENKINS_URL}"

  ansiColorBuildWrapper:
    globalColorMapName: "xterm"

  email-ext:
    defaultContentType: "text/html"
    defaultSubject: >-
      [Jenkins][cortx-prvsnr CI] $PROJECT_NAME - Build # $BUILD_NUMBER
      - $BUILD_STATUS!
    mailAccount:
      smtpHost: "${SMTP_SERVER}"
      smtpPort: "465"
      useSsl: true
      smtpUsername: "${SMTP_USER}"
      smtpPassword: "${SMTP_PASSWORD}"

  mailer:
    smtpHost: "${SMTP_SERVER}"
    smtpPort: "465"
    useSsl: true
    authentication:
      username: "${SMTP_USER}"
      password: "${SMTP_PASSWORD}"

  timestamper:
    allPipelines: true

  ghprbTrigger:
    githubAuth:
    - description: "Anonymous connection"
      id: "github-user-token"


  gitHubPluginConfig:
    configs:
    - credentialsId: "github-user-token"
      manageHooks: false
