include LICENSE README.md

recursive-include cortx_jenkins LICENSE LICENSE* *LICENSE*
include cortx_jenkins/cortx-jenkins.toml.example
exclude cortx_jenkins/cortx-jenkins.toml

graft cortx_jenkins/server
graft cortx_jenkins/agent
graft cortx_jenkins/jobs

global-exclude *.py[cod] __pycache__ *.so
