# This is CORTX GConf (Config Store) which serves as input 
# to all the CORTX Services
# Location: /etc/cortx/cluster.conf

cortx:
  external:
    consul:
      admin: admin
      endpoints:
      - tcp://cortx-consul-server:8301
      - http://cortx-consul-server:8500
      num_endpoints: 2
      secret: gAAAAABi_w-5lmv3sGSkA4xgHQpp8t11mUIXGOXtpxZAasuFYut_kejtdqbCIkllULg5wpQDwGuTwMdIuzLWSNCSWm11OzETOw==
    kafka:
      admin: admin
      endpoints:
      - tcp://kafka.default.svc.cluster.local:9092
      num_endpoints: 1
      secret: gAAAAABi_w-5EOTuaNs0xUctkXDo7ZXCcwyM2Apc9H8d2w0p-8Bm2g_A3zzcZ_HQQ8a25jEO8mr6v0SYBYmaMEUlr1LWy07Stw==
  common:
    release:
      name: CORTX
      version: 2.0.0-7528
    security:
      device_certificate: /etc/cortx/solution/ssl/stx.pem
      domain_certificate: /etc/cortx/solution/ssl/stx.pem
      ssl_certificate: /etc/cortx/solution/ssl/s3.seagate.com.pem
    service:
      admin: admin
      secret: gAAAAABi_w-5MSD7neJ542v7JmBasjV_K-GuIPSsMGxiAeQzquAPfKhoDlww5D_S1zwQd80epol1oXBfP03gEXyLMUDeBG8fVQ==
    storage:
      config: /etc/cortx
      local: /etc/cortx
      log: /var/log/cortx/
  csm:
    agent:
      endpoints:
      - https://:8081
      num_endpoints: 1
    email_address: cortx@seagate.com
    limits:
      num_services: 1
      services:
      - cpu:
          max: 500m
          min: 250m
        memory:
          max: 256Mi
          min: 128Mi
        name: agent
    mgmt_admin: cortxadmin
    mgmt_secret: gAAAAABi_w-5X6Piz_twNNfID4ZeWPsN6nAtg1SMXGhn3w4dRGoAym4qkeKOiwmW5fzxiLHydCSxJY9vRN93YlRaJE7fFzpTZw==
    public:
      endpoints:
      - https://control-svc:8081
      num_endpoints: 1
  external:
    consul:
      admin: admin
      endpoints:
      - tcp://cortx-consul-server:8301
      - http://cortx-consul-server:8500
      num_endpoints: 2
      secret: gAAAAABi_w-5lmv3sGSkA4xgHQpp8t11mUIXGOXtpxZAasuFYut_kejtdqbCIkllULg5wpQDwGuTwMdIuzLWSNCSWm11OzETOw==
    kafka:
      admin: admin
      endpoints:
      - tcp://kafka.default.svc.cluster.local:9092
      num_endpoints: 1
      secret: gAAAAABi_w-5EOTuaNs0xUctkXDo7ZXCcwyM2Apc9H8d2w0p-8Bm2g_A3zzcZ_HQQ8a25jEO8mr6v0SYBYmaMEUlr1LWy07Stw==
  ha:
    limits:
      num_services: 3
      services:
      - cpu:
          max: 500m
          min: 250m
        memory:
          max: 1Gi
          min: 128Mi
        name: fault_tolerance
      - cpu:
          max: 500m
          min: 250m
        memory:
          max: 1Gi
          min: 128Mi
        name: health_monitor
      - cpu:
          max: 500m
          min: 250m
        memory:
          max: 1Gi
          min: 128Mi
        name: k8s_monitor
    service:
      endpoints:
      - http://cortx-ha-svc:23501
      num_endpoints: 1
  hare:
    hax:
      endpoints:
      - https://motr-hax-svc:22003
      - tcp://data1-node1:22001
      - tcp://data2-node1:22001
      - tcp://data1-node2:22001
      - tcp://data2-node2:22001
      - tcp://data1-node3:22001
      - tcp://data2-node3:22001
      - tcp://server-node1:22001
      - tcp://server-node2:22001
      - tcp://server-node3:22001
      - tcp://client-node1:22001
      - tcp://client-node2:22001
      - tcp://client-node3:22001
      num_endpoints: 13
    limits:
      num_services: 1
      services:
      - cpu:
          max: 500m
          min: 250m
        memory:
          max: 1Gi
          min: 128Mi
        name: hax
  motr:
    clients:
    - endpoints:
      - tcp://server-node1:22501
      - tcp://server-node2:22501
      - tcp://server-node3:22501
      name: rgw_s3
      num_endpoints: 3
      num_instances: 1
    - endpoints:
      - tcp://client1-node1:21501
      name: motr_client
      num_endpoints: 1
      num_instances: 0
      num_subscriptions: 1
      subscriptions:
      - fdmi
    confd:
      endpoints:
      - tcp://data1-node1:21001
      - tcp://data2-node1:21001
      - tcp://data1-node2:21001
      - tcp://data2-node2:21001
      - tcp://data1-node3:21001
      - tcp://data2-node3:21001
      num_endpoints: 6
    interface_family: inet
    ios:
      endpoints:
      - tcp://data1-node1:21002
      - tcp://data2-node1:21002
      - tcp://data1-node2:21002
      - tcp://data2-node2:21002
      - tcp://data1-node3:21002
      - tcp://data2-node3:21002
      group_size: 1
      num_endpoints: 6
    limits:
      num_services: 2
      services:
      - cpu:
          max: 1500m
          min: 1000m
        memory:
          max: 0
          min: 1Gi
        name: ios
      - cpu:
          max: 500m
          min: 250m
        memory:
          max: 512Mi
          min: 128Mi
        name: confd
    md_size: 10
    num_clients: 2
    transport_type: libfab
  rgw:
    auth_admin: sgiamadmin
    auth_secret: gAAAAABi_w-5bWJuzg2hE8hwKJlnmEvxK8gpEMBEzENBEsEuOWKumMLMymXDPBVHXspj2VjgguppmNCItTN0es31QCbiHSkfUA==
    auth_user: user_name
    data_path: /var/cortx/radosgw/$clusterid
    enable_gc_threads: true
    gc_max_concurrent_io: 1
    gc_max_objs: 64
    gc_max_trim_chunk: 256
    gc_obj_min_wait: 7200
    gc_processor_max_time: 3600
    gc_processor_period: 3600
    init_timeout: 300
    io_max_units: 8
    limits:
      num_services: 1
      services:
      - cpu:
          max: 1000m
          min: 250m
        memory:
          max: 1Gi
          min: 128Mi
        name: rgw
    max_start_timeout: <<.Values.cortx.max_start_timeout>>
    motr_layout_id: 9
    motr_max_idx_fetch_count: 30
    motr_max_rpc_msg_size: 524288
    motr_max_units_per_request: 8
    motr_reconnect_interval: 10
    motr_reconnect_retry_count: 10
    motr_unit_size: 1048576
    public:
      endpoints:
      - http://s3-rgw-svc:80
      - https://s3-rgw-svc:443
      num_endpoints: 2
    service:
      endpoints:
      - http://:22751
      - https://:23001
      num_endpoints: 2
    thread_pool_size: 10
  utils:
    message_bus_backend: kafka
cluster:
  id: 0007ec45379e36d9fa089a3d615c32a3
  name: cortx-cluster
  num_storage_set: 1
  storage_set:
  - durability:
      dix:
        data: '1'
        parity: '0'
        spare: '0'
      sns:
        data: '1'
        parity: '0'
        spare: '0'
    name: storage-set-1
    nodes:
    - 0bd11a2b7939b68f3c2f62567bea647f
    - 309ff7f0a7c4dfc22171b75c174bb70c
    - a41d31a905d3892ba80bc0604041d4af
    - 11dfe4bc7d43c202b28a2a1d8bcaa0f6
    - 380fb4a039ffc67865bc5b1d51a38811
    - c4a32f1a4a3a43c1c65563511d9536b0
    - 26f752930474c28d64c09b4c198c0fea
    - b5e8544fd1b3ec3764fff509652a8d07
    - aab7732613c4483da0784d14e5ad917d
    - 8581ff0c598abccbd020e3b72f2cd334
    - 5a230afb7355d23155bcc58328bbe03a
    num_nodes: 11
node:
  0bd11a2b7939b68f3c2f62567bea647f:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
      version: 2.0.0-7528
    - name: csm
      num_services: 1
      services:
      - agent
      version: 2.0.0-7528
    hostname: control-node
    name: control-node
    node_id: 9995f539f4f770e2a3fe9e2e615c32a8
    num_components: 2
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    storage_set: storage-set-1
    type: control_node
  11dfe4bc7d43c202b28a2a1d8bcaa0f6:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: motr
      num_services: 1
      services:
      - io
    - name: hare
    cvg:
    - devices:
        data:
        - /dev/sdc
        - /dev/sdd
        log:
        - /dev/sdh
        metadata:
        - /dev/sdb
        num_data: 2
        num_log: 1
        num_metadata: 1
      name: cvg-01
      type: ios
    hostname: data1-node2
    name: data1-node2
    node_id: bbb340f79047df9bb52fa460615c32a5
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    num_cvg: 1
    storage_set: storage-set-1
    type: data_node/1
  26f752930474c28d64c09b4c198c0fea:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: motr
      num_services: 1
      services:
      - io
    - name: hare
    cvg:
    - devices:
        data:
        - /dev/sdf
        - /dev/sdg
        log:
        - /dev/sdi
        metadata:
        - /dev/sde
        num_data: 2
        num_log: 1
        num_metadata: 1
      name: cvg-02
      type: ios
    hostname: data2-node2
    name: data2-node2
    node_id: bba340f79047df9bb52fa460615c32a5
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    num_cvg: 1
    storage_set: storage-set-1
    type: data_node/2
  309ff7f0a7c4dfc22171b75c174bb70c:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: ha
    hostname: ha-node
    name: ha-node
    node_id: 1115f539f4f770e2a3fe9e2e615c32a8
    num_components: 2
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    storage_set: storage-set-1
    type: ha_node
  380fb4a039ffc67865bc5b1d51a38811:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: motr
      num_services: 1
      services:
      - io
    - name: hare
    cvg:
    - devices:
        data:
        - /dev/sdc
        - /dev/sdd
        log:
        - /dev/sdh
        metadata:
        - /dev/sdb
        num_data: 2
        num_log: 1
        num_metadata: 1
      name: cvg-01
      type: ios
    hostname: data1-node3
    name: data1-node3
    node_id: ccc8700fe6797ed532e311b0615c32a7
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    num_cvg: 1
    storage_set: storage-set-1
    type: data_node/1
  5a230afb7355d23155bcc58328bbe03a:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: hare
    - name: rgw
      num_services: 1
      services:
      - rgw_s3
    hostname: server-node3
    name: server-node3
    node_id: fff8700fe6797ed532e311b0615c32a7
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    storage_set: storage-set-1
    type: server_node
  8581ff0c598abccbd020e3b72f2cd334:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: hare
    - name: rgw
      num_services: 1
      services:
      - rgw_s3
    hostname: server-node2
    name: server-node2
    node_id: eee340f79047df9bb52fa460615c32a5
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    storage_set: storage-set-1
    type: server_node
  a41d31a905d3892ba80bc0604041d4af:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: motr
      num_services: 1
      services:
      - io
    - name: hare
    cvg:
    - devices:
        data:
        - /dev/sdc
        - /dev/sdd
        log:
        - /dev/sdh
        metadata:
        - /dev/sdb
        num_data: 2
        num_log: 1
        num_metadata: 1
      name: cvg-01
      type: ios
    hostname: data1-node1
    name: data1-node1
    node_id: aaa120a9e051d103c164f605615c32a4
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    num_cvg: 1
    storage_set: storage-set-1
    type: data_node/1
  aab7732613c4483da0784d14e5ad917d:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: hare
    - name: rgw
      num_services: 1
      services:
      - rgw_s3
    hostname: server-node1
    name: server-node1
    node_id: ddd120a9e051d103c164f605615c32a4
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    storage_set: storage-set-1
    type: server_node
  b5e8544fd1b3ec3764fff509652a8d07:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: motr
      num_services: 1
      services:
      - io
    - name: hare
    cvg:
    - devices:
        data:
        - /dev/sdf
        - /dev/sdg
        log:
        - /dev/sdi
        metadata:
        - /dev/sde
        num_data: 2
        num_log: 1
        num_metadata: 1
      name: cvg-02
      type: ios
    hostname: data2-node3
    name: data2-node3
    node_id: cca8700fe6797ed532e311b0615c32a7
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    num_cvg: 1
    storage_set: storage-set-1
    type: data_node/2
  c4a32f1a4a3a43c1c65563511d9536b0:
    cluster_id: 0007ec45379e36d9fa089a3d615c32a3
    components:
    - name: utils
    - name: motr
      num_services: 1
      services:
      - io
    - name: hare
    cvg:
    - devices:
        data:
        - /dev/sdf
        - /dev/sdg
        log:
        - /dev/sdi
        metadata:
        - /dev/sde
        num_data: 2
        num_log: 1
        num_metadata: 1
      name: cvg-02
      type: ios
    hostname: data2-node1
    name: data2-node1
    node_id: eee120a9e051d103c164f605615c32a4
    num_components: 3
    provisioning:
      phase: deployment
      status: success
      version: 2.0.0-7528
      time: 1660882878
    num_cvg: 1
    storage_set: storage-set-1
    type: data_node/2
