[Unit]
Description=Perform provisioner post boot operations
After=salt-minion.service
Requires=salt-minion.service

[Service]
Type=oneshot
ExecStart=/opt/seagate/cortx/provisioner/cli/update-post-reboot.sh

[Install]
WantedBy=multi-user.target
