[Unit]
Description=UDS service
After=network.service

[Service]
StartLimitInterval=30sec
StartLimitBurst=3
Type=simple
User=uds
Group=uds
ExecStart='/usr/bin/uds'
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
