# -*- coding: utf-8 -*-
# # vim: ft=yaml
---

### ANCHORS
x-jenkins-linux-node: &jenkins_linux_node_anchor
  mode: NORMAL
  numExecutors: 1
  remoteFS: /var/lib/jenkins
  labelString: "cortx-prvsnr-ci"
  retentionStrategy: always
  launcher:
    jnlp:
      workDirSettings:
        disabled: false


# CONFIGURATION
jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"
  # numExecutors: 5
  # scmCheckoutRetryCount: 2
  mode: NORMAL

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  markupFormatter:
    rawHtml:
      disableSyntaxHighlighting: false

  nodes:
    - permanent:
        name: agent1
        <<: *jenkins_linux_node_anchor
    - permanent:
        name: agent2
        <<: *jenkins_linux_node_anchor
    - permanent:
        name: agent3
        <<: *jenkins_linux_node_anchor

unclassified:
  location:
    adminAddress: {{ ADMIN_EMAIL_ADDRESS }}
    url: {{ JENKINS_URL }}

  ansiColorBuildWrapper:
    globalColorMapName: "xterm"

  email-ext:
    defaultContentType: "text/html"
    mailAccount:
      smtpHost: {{ SMTP_SERVER }}
      smtpPort: "465"
      useSsl: true
      smtpUsername: {{ SMTP_USER }}
      smtpPassword: {{ SMTP_PASSWORD }}

  mailer:
    smtpHost: {{ SMTP_SERVER }}
    smtpPort: "465"
    useSsl: true
    authentication:
      username: {{ SMTP_USER }}
      password: {{ SMTP_PASSWORD }}

  timestamper:
    allPipelines: true
