# email address to use for jenkins admin notifications
# "Notification e-mails from Jenkins to project owners will be
# sent with this address in the from header. This can be just
# "foo@acme.org" or it could be something like "Jenkins Daemon <foo@acme.org>""
ADMIN_EMAIL_ADDRESS=
# jenkins server url
# "This value is used to let Jenkins know how to refer to itself,
# ie. to display images or to create links in emails."
JENKINS_URL=
# smtp server to use for email notifications
SMTP_SERVER=
# smtp credentials
SMTP_USER=
SMTP_PASSWORD=
