[Unit]
Description=Sync salt-data services
Before=salt-minion.service
Requires=salt-minion.service
BindsTo=salt-minion.service

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart glusterfssharedstorage
ExecStartPost=/bin/sleep 30
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
